- if user_signed_in?
  = link_to('Logout', destroy_user_session_path, method: :delete, class: 'button--logout')
- else
  = link_to('Login', new_user_session_path, class: 'button--logout')
%h1 Hello #{current_user.email}
%p Please find list of your monitored wallets attached

%table
  %thead
    %tr
      %th Wallet address
      %th Number of transactions
      %th Balance
      %th
  %tbody
    - @wallets.each do |w|
      %tr
        %td= w[:wallet]['wallet_address']
        %td= w[:transactions]
        %td #{w[:balance]} ETH
        %td= link_to 'Show', wallet_path(w[:wallet])
= link_to 'Add Wallet', new_wallet_path, class: 'button'
